@mixin phone {
  @media only screen and (max-width: 480px) {
    @content;
  }
}
@mixin tablet {
  @media only screen and (max-width: 910px) {
    @content;
  }
}

@mixin circle-button-shadow($value) {
  $circle-add-button-shadow-color: rgba(0, 0, 0, 1);
  -webkit-box-shadow: 0px 0px $value -5px $circle-add-button-shadow-color;
  -moz-box-shadow: 0px 0px $value -5px $circle-add-button-shadow-color;
  box-shadow: 0px 0px $value -5px $circle-add-button-shadow-color;
}