@import "variables";

@import "components/navigation";
@import "components/form";
@import "components/checkbox";
@import "components/text-field";
@import "components/upload-field";

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-y: hidden;
}
.content {
  position: absolute;
  top: 116px;  
  height: 100%;
  width: 100%;
  overflow-y: scroll;
}