@import "mixins";
@import "variables";
@import "animations";

@import "components/circle-add-button";
@import "components/navigation";
@import "components/form";
@import "components/checkbox";
@import "components/text-field";
@import "components/upload-field";

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-y: hidden;
}
.content {
  transition: $nav-transition;
  position: absolute;
  top: 116px;
  bottom: 0px;
  width: 100%;
  overflow-y: scroll;
}
.content.shrink {
  top: 50px;
}