.circle-add-button {
  width: 16vw;
  height: 16vw;
  background-color: #3BA3FB;
  z-index: 5;
  position: fixed;
  bottom: 15px;
  right: 15px;
  visibility: hidden;
  text-decoration: none;
  outline: none;
  -webkit-box-shadow: 0px 0px 18px -5px black;
  -moz-box-shadow: 0px 0px 18px -5px black;
  box-shadow: 0px 0px 18px -5px black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.circle-add-button i {
  font-size: 7vw;
  color: white;
}
.circle-add-button:hover {
  -webkit-box-shadow: 0px 0px 10px -5px black;
  -moz-box-shadow: 0px 0px 10px -5px black;
  box-shadow: 0px 0px 10px -5px black;
}
.circle-add-button:hover i {
  opacity: 0.5;
}
@media only screen and (max-width: 480px) {
  .circle-add-button {
    border-radius: 100%;
    visibility: visible;
  }
}

nav {
  transition: all ease 0.1s;
  width: 100vw;
  height: 116px;
  background-color: #3BA3FB;
  color: white;
  position: fixed;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 20px -2px;
  user-select: none;
}
nav .space-between-row {
  transition: all ease 0.1s;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
nav .space-between-row a {
  transition: all ease 0.1s;
  margin-top: 24px;
  margin-left: 12px;
  font-size: 18pt;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: white;
  text-decoration: none;
}
nav .space-between-row a:hover {
  transition: all ease 0.1s;
  opacity: 0.7;
}
nav .space-between-row .add-button {
  text-decoration: none;
  color: white;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 19px;
  margin-right: 12px;
}
@media only screen and (max-width: 480px) {
  nav .space-between-row .add-button {
    visibility: hidden;
  }
}
nav .space-between-row .add-button i {
  transition: all ease 0.1s;
  font-size: 24pt;
}
nav .space-between-row .add-button:hover {
  opacity: 0.5;
}
nav ul {
  transition: all ease 0.1s;
  position: absolute;
  padding: 0;
  margin-bottom: 0;
  left: 17vw;
  bottom: 0;
  display: flex;
}
nav ul li {
  transition: all ease 0.1s;
  margin-right: 36px;
  list-style-type: none;
  height: 36px;
  cursor: pointer;
}
nav ul li a {
  text-decoration: none;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  padding-bottom: 18px;
  padding-top: 18px;
}
nav ul li[active] {
  border-bottom: 4px solid #2D5F88;
}
nav ul li:hover {
  opacity: 0.6;
}

nav.shrink {
  height: 50px;
}
nav.shrink .space-between-row a {
  margin-top: 15px;
  font-size: 13pt;
}
nav.shrink .space-between-row .add-button {
  margin-top: 7px;
}
nav.shrink .space-between-row i {
  font-size: 20pt;
}
nav.shrink ul {
  left: calc(150px + 1vw);
  font-size: 12pt;
}
@media only screen and (max-width: 480px) {
  nav.shrink ul {
    right: 1vw;
    left: unset;
  }
}
nav.shrink ul li {
  height: 28px;
}

.form-page {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
}
@media only screen and (max-width: 910px) {
  .form-page {
    align-items: center;
  }
}

.form {
  width: 50vw;
  max-width: 500px;
  padding-bottom: 8px;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  user-select: none;
  margin-top: 15vh;
}
@media only screen and (max-width: 910px) {
  .form {
    width: 95vw;
    margin-top: unset;
  }
}
.form .form-header {
  color: #3BA3FB;
  width: 100%;
  text-align: center;
  font-size: 32pt;
  font-weight: 300;
  letter-spacing: 1.31px;
}
@media only screen and (max-width: 910px) {
  .form .form-header {
    font-size: 39pt;
  }
}
@media only screen and (max-width: 480px) {
  .form .form-header {
    font-size: 10vw;
  }
}
.form .form-content {
  display: flex;
  flex-direction: column;
  place-content: space-between;
}
.form .form-content .form-fields {
  display: flex;
  flex-direction: column;
  margin: 44px 18px 19px;
}
.form .form-content .form-button-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin-left: 18px;
  margin-right: 18px;
}
.form .form-content .form-button-container input[type=submit] {
  border: 0;
  outline: none;
  cursor: pointer;
}
.form .form-content .form-button-container .form-button {
  width: 100%;
  padding-top: 16px;
  padding-bottom: 16px;
  text-align: center;
  vertical-align: middle;
  background-color: #3BA3FB;
  color: white;
  font-size: 18pt;
  font-weight: 300;
  text-decoration: none;
}
@media only screen and (max-width: 910px) {
  .form .form-content .form-button-container .form-button {
    font-size: 13pt;
  }
}
.form .form-content .form-button-container .checkbox {
  margin-top: 15px;
  margin-bottom: 18px;
}
.form .form-content .form-button-container .form-button:hover {
  background-color: #098cfa;
}
.form .form-content .form-button-container .form-create-acc {
  font-size: 15pt;
  font-weight: 400;
  text-align: center;
  display: flex;
  flex-direction: column;
  color: #A1A1A1;
}
.form .form-content .form-button-container .form-create-acc div {
  padding-top: 26px;
}
.form .form-content .form-button-container .form-create-acc a {
  padding-top: 4px;
  padding-bottom: 4px;
  color: #3BA3FB;
}
.form .form-error {
  padding-top: 14px;
  padding-bottom: 12px;
  font-size: 17pt;
  font-weight: 300;
  width: 100%;
  color: red;
}

.checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #888888;
  font-weight: 300;
}

.checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #dedede;
}

.checkbox:hover input ~ .checkmark {
  background-color: #c5c5c5;
}

.checkbox input:checked ~ .checkmark {
  background-color: #3BA3FB;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox input:checked ~ .checkmark:after {
  display: block;
}

.checkbox .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.text-field {
  height: 60px;
  margin-bottom: 12px;
  border: 0;
  background-color: #EBEBEB;
  padding-left: 33px;
  font-size: 15pt;
  outline: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

.text-field:hover {
  background-color: #e3e3e3;
}

.upload-field {
  display: flex;
  align-items: center;
  padding-top: 2px;
  padding-bottom: 0px;
}
@media only screen and (max-width: 480px) {
  .upload-field {
    flex-direction: column-reverse;
  }
}
.upload-field .upload-button {
  width: 35%;
  padding: 10px 10px;
  color: white;
  background-color: #3BA3FB;
  cursor: pointer;
  border: 0;
  outline: none;
}
@media only screen and (max-width: 480px) {
  .upload-field .upload-button {
    width: 100%;
    padding: 18px 10px;
  }
}
.upload-field .upload-button:hover {
  background-color: #54affc;
}
.upload-field .upload-text {
  background-color: #0589f9;
  color: white;
  width: 70%;
  padding: 8px 15px 8px 16px;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media only screen and (max-width: 480px) {
  .upload-field .upload-text {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    background: none;
    color: #252525;
    font-weight: 300;
  }
}

.meme-delegate {
  margin-bottom: 1.3rem;
  margin-top: 0.7rem;
  border-width: 0.1rem;
  border-color: #3BA3FB;
  border-style: solid;
  font-family: "Roboto", sans-serif;
  color: #3BA3FB;
  position: relative;
}
.meme-delegate .material-icons {
  position: absolute;
  left: 1vw;
  bottom: 9vw;
  font-size: 2.5vw;
  -webkit-box-shadow: 0px 0px 15px -5px black;
  -moz-box-shadow: 0px 0px 15px -5px black;
  box-shadow: 0px 0px 15px -5px black;
  background-color: #e74c3c;
  padding: 0.79rem 0.79rem;
  border-radius: 100%;
  color: white;
  transition: all 150ms;
  cursor: pointer;
  user-select: none;
}
@media only screen and (max-width: 910px) {
  .meme-delegate .material-icons {
    font-size: 4vw;
  }
}
@media only screen and (max-width: 480px) {
  .meme-delegate .material-icons {
    font-size: 6.5vw;
    left: calc(50% - 5vw);
  }
}
.meme-delegate .material-icons:hover {
  background-color: #c0392b;
}
.meme-delegate .remove-button {
  transition: all 150ms;
  position: absolute;
  top: 3vw;
  right: 3vw;
  text-decoration: none;
  color: white;
  background-color: #e20000;
  padding: 0.6rem 1.7rem;
  border: black solid 0.15rem;
}
.meme-delegate .remove-button:hover {
  background-color: black;
}
.meme-delegate .meme-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 3.8vw;
  margin-top: 2vw;
}
@media only screen and (max-width: 910px) {
  .meme-delegate .meme-header {
    height: 4.2vw;
  }
}
.meme-delegate .meme-header h1 {
  font-weight: 400;
  margin-left: 1.2rem;
  font-size: 2.2vw;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 20vw;
}
@media only screen and (max-width: 480px) {
  .meme-delegate .meme-header h1 {
    font-size: 4vw;
  }
}
.meme-delegate .meme-header div {
  margin-right: 1.2rem;
  font-weight: 300;
  font-size: 1.5vw;
}
@media only screen and (max-width: 480px) {
  .meme-delegate .meme-header div {
    font-size: 2.5vw;
  }
}
.meme-delegate h2 {
  margin-top: 1.2vh;
  margin-left: 1.2rem;
  font-weight: 300;
  font-size: 1.95vw;
}
@media only screen and (max-width: 480px) {
  .meme-delegate h2 {
    font-size: 2.95vw;
  }
}
.meme-delegate img {
  width: 45vw;
}
@media only screen and (max-width: 910px) {
  .meme-delegate img {
    width: 86vw;
  }
}
@media only screen and (max-width: 480px) {
  .meme-delegate img {
    width: 90vw;
  }
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-y: hidden;
}

.hidden {
  visibility: hidden;
}

.content {
  transition: all ease 0.1s;
  position: absolute;
  top: 116px;
  bottom: 0px;
  width: 100%;
  overflow-y: scroll;
}

.content.shrink {
  top: 50px;
}

/*# sourceMappingURL=main.css.map */
