nav {
  transition: all ease 0.1s;
  width: 100vw;
  height: 116px;
  background-color: #3BA3FB;
  color: white;
  position: fixed;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 20px -2px;
  user-select: none;
}
nav .space-between-row {
  transition: all ease 0.1s;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
nav .space-between-row a {
  transition: all ease 0.1s;
  margin-top: 24px;
  margin-left: 12px;
  font-size: 18pt;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: white;
  text-decoration: none;
}
nav .space-between-row a:hover {
  transition: all ease 0.1s;
  opacity: 0.7;
}
nav .space-between-row .add-button {
  text-decoration: none;
  color: white;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 19px;
  margin-right: 12px;
}
nav .space-between-row .add-button i {
  transition: all ease 0.1s;
  font-size: 24pt;
}
nav .space-between-row .add-button:hover {
  opacity: 0.5;
}
nav ul {
  transition: all ease 0.1s;
  position: absolute;
  padding: 0;
  margin-bottom: 0;
  left: 168px;
  bottom: 0;
  display: flex;
}
nav ul li {
  transition: all ease 0.1s;
  margin-right: 36px;
  list-style-type: none;
  height: 36px;
}
nav ul li a {
  text-decoration: none;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  padding-bottom: 18px;
  padding-top: 18px;
}
nav ul li[active] {
  border-bottom: 4px solid #2D5F88;
}
nav ul li:hover {
  opacity: 0.6;
}

nav.shrink {
  height: 50px;
}
nav.shrink .space-between-row a {
  margin-top: 15px;
  font-size: 13pt;
}
nav.shrink .space-between-row .add-button {
  margin-top: 7px;
}
nav.shrink .space-between-row i {
  font-size: 20pt;
}
nav.shrink ul {
  left: 180px;
  font-size: 12pt;
}
nav.shrink ul li {
  height: 28px;
}

.form {
  position: absolute;
  left: calc(50% - 450px / 2);
  top: calc(15%);
  width: 450px;
  height: 557px;
  padding-bottom: 8px;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  user-select: none;
}
.form .form-header {
  color: #3BA3FB;
  width: 100%;
  text-align: center;
  font-size: 32pt;
  font-weight: 300;
  letter-spacing: 1.31px;
}
.form .form-content {
  display: flex;
  flex-direction: column;
  place-content: space-between;
}
.form .form-content .form-fields {
  display: flex;
  flex-direction: column;
  margin-top: 44px;
  margin-bottom: 19px;
}
.form .form-content .form-button-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.form .form-content .form-button-container input[type=submit] {
  border: 0;
  outline: none;
  cursor: pointer;
}
.form .form-content .form-button-container .form-button {
  width: 100%;
  padding-top: 16px;
  padding-bottom: 16px;
  text-align: center;
  vertical-align: middle;
  background-color: #3BA3FB;
  color: white;
  font-size: 18pt;
  font-weight: 300;
  text-decoration: none;
}
.form .form-content .form-button-container .checkbox {
  margin-top: 5px;
  margin-bottom: 18px;
}
.form .form-content .form-button-container .form-button:hover {
  background-color: #098cfa;
}
.form .form-content .form-button-container .form-create-acc {
  font-size: 15pt;
  font-weight: 400;
  text-align: center;
  display: flex;
  flex-direction: column;
  color: #A1A1A1;
}
.form .form-content .form-button-container .form-create-acc div {
  padding-top: 26px;
}
.form .form-content .form-button-container .form-create-acc a {
  padding-top: 4px;
  padding-bottom: 4px;
  color: #3BA3FB;
}
.form .form-error {
  padding-top: 14px;
  padding-bottom: 12px;
  font-size: 17pt;
  font-weight: 300;
  width: 100%;
  color: red;
}

.checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #888888;
  font-weight: 300;
}

.checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #dedede;
}

.checkbox:hover input ~ .checkmark {
  background-color: #c5c5c5;
}

.checkbox input:checked ~ .checkmark {
  background-color: #3BA3FB;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox input:checked ~ .checkmark:after {
  display: block;
}

.checkbox .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.text-field {
  height: 60px;
  margin-bottom: 12px;
  border: 0;
  background-color: #EBEBEB;
  padding-left: 33px;
  font-size: 15pt;
  outline: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

.text-field:hover {
  background-color: #e3e3e3;
}

.upload-field {
  display: flex;
  align-items: center;
  padding-top: 2px;
  padding-bottom: 12px;
}
.upload-field .upload-button {
  width: 30%;
  padding: 10px 10px;
  color: white;
  background-color: #3BA3FB;
  cursor: pointer;
  border: 0;
  outline: none;
}
.upload-field .upload-button:hover {
  background-color: #54affc;
}
.upload-field .upload-text {
  background-color: #0589f9;
  color: white;
  width: 70%;
  padding: 8px 15px 8px 16px;
  overflow: hidden;
  text-overflow: ellipsis;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-y: hidden;
}

.content {
  transition: all ease 0.1s;
  position: absolute;
  top: 116px;
  bottom: 0px;
  width: 100%;
  overflow-y: scroll;
}

.content.shrink {
  top: 50px;
}

/*# sourceMappingURL=main.css.map */
