.circle-add-button {
  width: 16vw;
  height: 16vw;
  background-color: $primary-color;
  z-index: 5;
  position: fixed;
  bottom: 15px;
  right: 15px;
  visibility: hidden;
  text-decoration: none;
  outline: none;
  @include circle-button-shadow(18px);
  display: flex;
  justify-content: center;
  align-items: center;

  i {
    font-size: 7vw;
    color: white;
  }

  &:hover {
    i {
      opacity: .5;
    }

    @include circle-button-shadow(10px);
  }

  @include phone {
    border-radius: 100%;
    visibility: visible;
  }
}