.form {
  position: absolute;
  left: calc(50% - 450px / 2);
  top: calc(15%);
  width: 450px;
  height: 557px;
  padding-bottom: 8px;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  user-select: none;
  .form-header {
    color: $primary-color;
    width: 100%;
    text-align: center;
    font-size: 32pt;
    font-weight: 300;
    letter-spacing: 1.31px;
  }
  .form-content {
    display: flex; flex-direction: column; place-content: space-between;
    .form-fields {
      display: flex;
      flex-direction: column;
      margin-top: 44px;
      margin-bottom: 19px;
    }
    .form-button-container {
      width: 100%;
      display: flex; justify-content: center; align-items: flex-start; flex-direction: column;

      input[type="submit"] {
        border: 0;
        outline: none;
        cursor: pointer;
      }
      .form-button {
        width: 100%;
        padding-top: 16px;
        padding-bottom: 16px;
        text-align: center;
        vertical-align: middle;
        background-color: $primary-color;
        color: white;
        font-size: 18pt;
        font-weight: 300;
        text-decoration: none;
      }
      .checkbox {
        margin-top: 5px;
        margin-bottom: 18px;
      }
      .form-button:hover {
        background-color: darken($primary-color, 10%)
      }

      .form-create-acc {
        font-size: 15pt;
        font-weight: 400;
        text-align: center;
        display: flex;
        flex-direction: column;
        color: #A1A1A1;
        div {
          padding-top: 26px;
        }
        a {
          padding-top: 4px;
          padding-bottom: 4px;
          color: $primary-color;
        }
      }
    }
  }
  .form-error {
    padding-top: 14px;
    padding-bottom: 12px;
    font-size: 17pt;
    font-weight: 300;
    width: 100%;
    color: red;
  }
}