.meme-delegate {
  //width: 50vw;
  margin-bottom: 1.3rem;
  margin-top: .7rem;
  border-width: .1rem;
  border-color: $primary-color;
  border-style: solid;
  font-family: 'Roboto', sans-serif;
  color: $primary-color;
  position: relative;

  .material-icons {
    position: absolute;
    left: 1vw;
    bottom: 9vw;
    font-size: 2.5vw;
    @include circle-button-shadow(15px);
    @include tablet {
      font-size: 4vw;
    }
    @include phone {
      font-size: 6.5vw;
      left: calc(50% - 5vw);
    }
    background-color: #e74c3c;
    padding: .79rem .79rem;
    border-radius: 100%;
    color: white;
    transition: all 150ms;
    cursor: pointer;
    user-select: none;
    &:hover {
      background-color: #c0392b;
    }
  }
  .remove-button {
    transition: all 150ms;
    position: absolute;
    top: 3vw;
    right: 3vw;
    text-decoration: none;
    color: white;
    background-color: $remove-button-color;
    padding: .6rem 1.7rem;
    border: black solid .15rem;
    &:hover {
      background-color: black;
    }
  }
  .meme-header {
    width: 100%;
    display: flex; align-items: center; justify-content: space-between;
    height: 3.8vw;
    @include tablet {
      height: 4.2vw;
    }
    margin-top: 2vw;
    h1 { // meme title
      font-weight: 400;
      margin-left: 1.2rem;
      font-size: 2.2vw;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      width: 20vw;
      @include phone {
        font-size: 4vw;
      }
    }
    div { // date
      margin-right: 1.2rem;
      font-weight: 300;
      font-size: 1.5vw;
      @include phone {
        font-size: 2.5vw;
      }
    }
  }
  h2 {
    margin-top: 1.2vh;
    margin-left: 1.2rem;
    font-weight: 300;
    font-size: 1.95vw;
    @include phone {
        font-size: 2.95vw;
      }
  }
  img {
    width: 45vw;
    @include tablet {
      width: 86vw;
    }
    @include phone {
      width: 90vw;
    }
  }
}