nav {
  transition: $nav-transition;
  width: 100vw;
  height: 116px;
  background-color: $primary-color;
  color: white;
  position: fixed;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 20px -2px;
  user-select: none;
  .space-between-row {
    transition: $nav-transition;
    height: 100%;
    display: flex; justify-content: space-between; align-items: flex-start;
    a {
      transition: $nav-transition;
      margin-top: 24px;
      margin-left: 12px;
      font-size: 18pt;
      font-family: 'Roboto', sans-serif;
      font-weight: 400;
      color: white;
      text-decoration: none;
    }
    a:hover {
      transition: $nav-transition;
      opacity: 0.7;
    }
    .add-button {
      text-decoration: none;
      color: white;
      width: 40px;
      height: 40px;
      display: flex; justify-content: center; align-items: center;
      margin-top: 19px;
      margin-right: 12px;
      @include phone {
        visibility: hidden;
      }
      i {
        transition: $nav-transition;
        font-size: 24pt;
      }
    }
    .add-button:hover {
      opacity: 0.5
    }
  }

  ul {
    transition: $nav-transition;
    position: absolute;
    padding: 0;
    margin-bottom: 0;
    left: 17vw;
    bottom: 0;
    display: flex;
    li {
      transition: $nav-transition;
      margin-right: 36px;
      list-style-type: none;
      height: 36px;
      cursor: pointer;
      a {
        text-decoration: none;
        color: white;
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        padding-bottom: 18px;
        padding-top: 18px;
      }
    }
    li[active] {
      border-bottom: 4px solid $tab-underline-color;
    }
    li:hover {
      opacity: 0.6;
    }
  }
}

nav.shrink {
  height: 50px;
  .space-between-row {
    a {
      margin-top: 15px;
      font-size: 13pt;
    }
    .add-button {
      margin-top: 7px;
    }
    i {
      font-size: 20pt;
    }
  }
  ul {
    left: calc(150px + 1vw);
    font-size: 12pt;
    @include phone {
      right: 1vw;
      left: unset;
    }
    li {
      height: 28px;
    }
  }
}