nav {
  transition: all ease .3s;
  width: 100%;
  height: 116px;
  background-color: $primary-color;
  color: white;
  position: fixed;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 20px -2px;
  user-select: none;
  .space-between-row {
    position: absolute;
    left: 19px;
    right: 19px;
    top: 18px;
    display: flex; justify-content: space-between; flex-direction: row; align-items: center;
    a {
      margin: 0; padding: 0;
      font-size: 18pt;
      font-family: 'Roboto', sans-serif;
      font-weight: 400;

      color: white;
      text-decoration: none;
    }
    a:hover {
      opacity: 0.7;
    }
    .add-button {
      text-decoration: none;
      color: white;
      width: 40px;
      height: 40px;
      display: flex; justify-content: center; align-items: center;
      i {
        font-size: 24pt;
      }
    }
    .add-button:hover {
      opacity: 0.5
    }
  }

  ul {
    position: absolute;
    padding: 0;
    margin-bottom: 0;
    left: 168px;
    bottom: 0;
    display: flex;
    li {
      margin-right: 36px;
      list-style-type: none;
      height: 36px;
      a {
        text-decoration: none;
        color: white;
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        padding-bottom: 18px;
        padding-top: 18px;
      }
    }
    li[active] {
      border-bottom: 4px solid $tab-underline-color;
    }
    li:hover {
      opacity: 0.6;
    }
  }
}

nav.shrink {
  height: 50px;
  .space-between-row {
    bottom: 5px;
    top: 5px;
    a {
      font-size: 13pt;
    }
    i {
      font-size: 20pt;
    }
  }
  ul {
    left: 180px;
    font-size: 12pt;
    li {
      height: 28px;
    }
  }
}