<!doctype html>
{% load static %}
<html lang="en">
    <head>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    </head>
    <body>
        <nav>
            <div class="space-between-row">
                <a href="/">Django_meme</a>
                <a class="add-button" href="{% url 'add_meme' %}"><i class="material-icons">add</i></a>
            </div>
            <ul>
                <li active><a href="#">LATEST</a></li>
                <li><a href="#">FAVORITE</a></li>
            </ul>
        </nav>
        <div class="content">
            {% block content %}
            {% endblock %}
        </div>

    </body>
</html>

