<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
</head>
<body>
<a href="{% url 'add_meme' %}" class="circle-add-button"><i class="material-icons">add</i></a>
<nav>
    <div class="space-between-row">
        <a href="/">Django_meme</a>
        <a class="add-button" href="{% url 'add_meme' %}"><i class="material-icons">add</i></a>
    </div>
    <ul>
        <li active><a href="#">LATEST</a></li>
        <li><a onclick="openFavourite()">FAVORITE</a></li>
    </ul>
</nav>

<div class="content">
    {% block content %}
    {% endblock %}
</div>
<script>
    $(function () {
        let navbar = $('nav');
        let content = $('.content');
        $(content).scroll(function () {
            if ($(content).scrollTop() <= 40) {
                navbar.removeClass('shrink');
                content.removeClass('shrink');
            } else {
                navbar.addClass('shrink');
                content.addClass('shrink');
            }
        });
    });
</script>
</body>
</html>

