{% extends 'base.html' %}
{% load static %}
{% block content %}
    <script>
        function changeHearthState(element) {
            let action;
            if (element.innerHTML.includes("favorite_border")) {
                element.innerHTML = "favorite";
                action = "add";
            } else {
                element.innerHTML = "favorite_border";
                action = "remove";
            }
            $.ajax({
                type: 'GET',
                url: '/favorite/' + action + '/' + element.getAttribute('pk'),
            });
        }
        function redirectToLogin(){
            window.location.href = "accounts/login";
        }

    </script>
    {% for meme in memes %}
        <div class="meme" style="display:flex; justify-content: center">
            <div class="meme-delegate">
                {% if user.is_authenticated %}
                    <i class="material-icons favourite" pk="{{ meme.pk }}" onclick="changeHearthState(this)">
                {% else %}
                    <i  class="material-icons favourite" onclick="redirectToLogin()">
                {% endif %}
                {% if meme.is_favorite %}
                    favorite
                {% else %}
                    {% if favorite_view %}
                        favorite
                    {% else %}
                        favorite_border
                    {% endif %}
                {% endif %}
                </i>
                {% if is_stuff %}
                    <a class="remove-button" href="{% url 'remove_meme' pk=meme.pk %}">Remove</a>
                {% endif %}
                <img src={{ meme.file.url }}>
                <div class="meme-header">
                    <h1>{{ meme.title }}</h1>
                    <div>{{ meme.publish_date }}</div>
                </div>
                <h2> {{ meme.author }}</h2>
            </div>
        </div>
    {% endfor %}

{% endblock %}



